/* default css start */
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Mulish", sans-serif;
  margin-bottom: 500px;
  padding-bottom: 500px;
}

section {
  margin: 100px 0px;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  width: 100%;
  padding: 0 12px;
  margin: 0 auto;
}

.color-check {
  color: #424247;
}

:root {
  --primary-color: #ff5400;
  --secondary-color: #424247;
  --white-text-color: #fff;
  --heder-text-black: #131318;
}

h1 {
  color: var(--white-text-color);
  font-size: 4rem;
  font-weight: 800;
  line-height: 5rem;
}

h2 {
  color: var(--heder-text-black);
  font-size: 2.5rem;
  font-weight: 800;
  line-height: 3.125rem;
}

h3 {
  color: var(--heder-text-black);
  font-size: 2rem;
  font-weight: 800;
  line-height: 2.5rem;
}

h4 {
  color: var(--white-text-color);
  font-size: 1.75rem;
  font-weight: 800;
  line-height: 2rem;
}

h5 {
  color: var(--heder-text-black);
  font-size: 1.5rem;
  font-weight: 800;
  line-height: 1.875rem;
}

h6 {
  color: var(--primary-color);
  font-size: 1.25rem;
  font-weight: 800;
  line-height: 1.5625rem;
}

p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.625rem;
}

.primary-btn {
  background-color: var(--primary-color);
  color: var(--white-text-color);
  cursor: pointer;
  padding: 1rem;
  border-radius: 8px;
  border: none;
  outline: none;
  font-size: 1.25rem;
  text-align: center;
  font-weight: 800;
  line-height: 25px;
}


/* default css end */

/* ===========header content=============  */
header {
  margin-top: 2.5rem;
}

nav .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

nav button {
  position: absolute;
  right: 0;
  border: none;
  outline: none;
  background-color: transparent;
}

nav button #check {
  display: none;
}

nav button label.checkbtn {
  font-size: 1.5rem;
  display: none;
  cursor: pointer;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 20px;

}

nav ul li a {
  color: var(--secondary-color);
  font-size: 1.125rem;
  line-height: 1.4375rem;
  transition: 0.2s;

}

nav li:hover a {
  color: var(--primary-color);
}

nav .brand {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

nav .navbar-brand {
  color: var(--secondary-color);
  font-size: 2rem;
  font-weight: 800;
  line-height: 2.8125rem;
  align-items: center;
  display: flex;
}

nav .navbar-brand span {
  color: var(--primary-color);
}

nav .navbar-brand img {
  width: 3.5rem;
  margin-right: 10px;
}

/* =========Banner section============= */
.banner {
  margin-top: -50px;
}

.banner-content {
  background: url(../images/banner/banner.png);
  width: 100%;
  min-height: 500px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  border-radius: 1rem;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-content::before {
  background: linear-gradient(180.00deg, rgba(19, 19, 24, 0.8), rgba(19, 19, 24, 0) 100%);
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  border-radius: 1rem;
}


.banner-info {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 6.25rem;
}

.banner-info p {
  text-align: center;
  color: white;
  margin: 1.5rem 0px;
}

.input-field {
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
  padding: 1rem;
}

.input-field form {
  display: flex;
  column-gap: 2rem;
  flex: 1;
}

.input-field form input,
.input-field form select,
.input-field form .primary-btn {
  padding: 1rem;
  border-radius: 8px;
  border: none;
  outline: none;
  color: #0000008a;
  font-size: 1rem;
  width: 10rem;
}

.input-field form .primary-btn {
  align-items: center;
  display: flex;
  justify-content: center;
  column-gap: 15px;
  color: var(--white-text-color);
}


/* ============Our Popular Tours============ */
.popular-tours .container {
  display: flex;
  column-gap: 50px;
  align-items: center;
}

.popular-tours .container .tours-information,
.popular-tours .container .tours-images {
  flex: 1;
}

.tours-information p {
  margin: 25px 0px;
}

.tours-information ul {
  margin-left: 20px;
}

.tours-information ul li {
  margin: 10px 0px;
  list-style: outside;
  line-height: 2rem;
}

.tours-information .primary-btn {
  padding: 14px 34px;
}

.tours-images img {
  width: 100%;
  height: 100%;
}

/* ==========Choose Your Destination========== */
.destination {
  text-align: center;
}

.information-images p {
  margin: 24px 0 48px 0;
}

.images-grides .row.first {
  display: flex;
  column-gap: 24px;
  margin-bottom: 24px;
}

.images-grides .row.first .mal,
.images-grides .row.first .indo,
.images-grides .row.second .sril,
.images-grides .row.second .north,
.images-grides .row.second .kash,
.images-grides .row.third .bang,
.images-grides .row.third .band {
  position: relative;
}

.images-grides .row.first .mal h4,
.images-grides .row.first .indo h4,
.images-grides .row.second .sril h4,
.images-grides .row.second .north h4,
.images-grides .row.second .kash h4,
.images-grides .row.third .bang h4,
.images-grides .row.third .band h4 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
}

.images-grides .row.second {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  column-gap: 24px;
  margin-bottom: 24px;
}

.images-grides .row.third {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 24px;
  margin-bottom: 24px;
}

/* =============Why Choose Us============= */
.choose-us {
  text-align: center;
}

.choose-us>p {
  margin: 24px 0 48px 0;
}

.choose-service .two-div {
  display: flex;
  gap: 24px;
  margin: 24px 0px;
}

.choose-service .one-div {
  display: flex;
  gap: 24px;
  margin: 24px 0px;
  justify-content: center;
}

.choose-service .hotels,
.choose-service .service,
.choose-service .price {
  box-sizing: border-box;
  border-radius: 16px;
  padding: 32px;
  text-align: start;
}

.choose-service .hotels {
  border: 1px solid rgba(251, 181, 99, 0.2);
  background: rgba(251, 181, 99, 0.05);
}

.choose-service .service {
  border: 1px solid rgba(41, 206, 246, 0.2);
  background: rgba(41, 206, 246, 0.05);
}

.choose-service .price {
  border: 1px solid rgba(233, 68, 68, 0.2);
  background: rgba(233, 68, 68, 0.05);
  width: 50%;
}

.choose-service img {
  width: 64px;
  height: 64px;
}

.choose-service h5 {
  margin: 32px 0px 16px 0px;
}

/* ===========Deals & Discounts=========== */
.discounts {
  text-align: center;
}

.discounts p {
  margin: 24px 0 48px 0;
}

.tour-booking {
  margin-bottom: 60px;
}

.discounts .first-packages {
  background-image: url(../images/tour/1.png);
  margin-bottom: 24px;
}

.discounts .second-packages {
  background-image: url(../images/tour/2.png);
  margin-bottom: 24px;
}

.discounts .third-packages {
  background-image: url(../images/tour/1.png);
  margin-bottom: 24px;
}

.discounts .first-packages,
.discounts .second-packages,
.discounts .third-packages {
  width: 100%;
  max-height: 800px;
  background-repeat: no-repeat;
  align-items: center;
  display: flex;
  justify-content: end;
  background-size: cover;
  border: 2px solid red;
}

.discounts .second-packages {
  justify-content: start;
}

.first-packages .tour-to-santorini,
.second-packages .tour-to-scuba-diving,
.third-packages .tour-to--the-lostatlantis {
  box-sizing: border-box;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 16px;
  backdrop-filter: blur(5px);
  background: rgba(255, 255, 255, 0.8);
  width: 55%;
  padding: 40px;
  text-align: start;
  display: flex;
  flex-direction: column;
  margin: 55px;
}

.second-packages .tour-to-scuba-diving {
  margin-left: 50px;
}

.discounts .time-member-place {
  display: flex;
  column-gap: 26px;
}

.discounts .time-member-place span {
  margin-left: 8px;
}

.discounts p {
  margin: 16px 0px;
}

.discounts .price {
  margin: 16px 0px;
  color: var(--primary-color);
  font-size: 20px;
  font-weight: 800;
  line-height: 25px;
}

.discounts .primary-btn {
  margin: 16px 0px;
  width: 30%;
  padding: 15px 0px;
}

.time-member-place .time,
.time-member-place .member,
.time-member-place .place {
  display: flex;
  align-items: center;
  margin-bottom: 26px;
}

.time-member-place .time .icon,
.time-member-place .member .icon,
.time-member-place .place .icon {
  color: var(--primary-color);
  width: 19.5px;
  height: 19.5px;
}

.discounts .primary-btn.packages {
  padding: 14px 22px;
}



/* ==============Responsive classes============== */
/* Responsive: start 320px end: 1368px  */

@media screen and (min-width: 320px) and (max-width: 576px) {
  section {
    margin: 50px 0px;
  }

  h1 {
    font-size: 2rem;
    line-height: 3rem;
  }

  h2 {
    font-size: 2.35rem;
  }

  h3 {
    font-size: 1.85rem;
  }

  h4 {
    font-size: 1.60rem;
  }

  h5 {
    font-size: 1.35rem;
  }

  h6 {
    font-size: 1.15rem;
  }

  p {
    font-size: 1rem;
  }

  .primary-btn {
    padding: 1rem;
    border-radius: 8px;
    border: none;
    outline: none;
    font-size: 1rem;
    text-align: center;
    font-weight: 600;
    line-height: 20px;
  }

  nav .navbar-brand {
    font-size: 1.5rem;
    font-weight: 500;
  }

  nav .navbar-brand img {
    width: 3rem;
    margin-right: 5px;
  }

  nav button {
    right: 12px;
  }

  nav button label.checkbtn {
    display: block;
  }

  nav ul {
    background: slategrey;
    position: fixed;
    padding: 30px 0px;
    width: 100vw;
    left: -100%;
    flex-direction: column;
    margin-top: 25px;
    row-gap: 20px;
    transition: 0.5s all;
  }

  #check:checked~nav ul {
    left: 0%;
  }

  .banner-content {
    min-height: 700px;
  }

  .banner-info {
    padding: 0;
    text-align: center;
  }

  .input-field form {
    flex-direction: column;
    row-gap: 20px;
  }

  .popular-tours .container {
    row-gap: 40px;
    flex-direction: column;
  }

  .images-grides img {
    width: 100%;
    height: 200px;
  }

  .images-grides .row.first {
    row-gap: 10px;
    flex-direction: column;
  }

  .images-grides .row.first {
    margin-bottom: 10px;
  }

  .images-grides .row.second {
    grid-template-columns: 1fr;
    margin-bottom: 10px;
    row-gap: 10px;
  }

  .images-grides .row.third {
    grid-template-columns: 1fr;
    row-gap: 10px;
    margin-bottom: 0;
  }

  .choose-service .two-div {
    flex-direction: column;
  }

  .choose-service .price {
    width: 100%;
  }

  .first-packages .tour-to-santorini,
  .second-packages .tour-to-scuba-diving,
  .third-packages .tour-to--the-lostatlantis {
    min-width: 95%;
    margin-right: 10px;
    padding: 10px;
    margin-bottom: 5px;
  }

  .discounts .time-member-place {
    flex-wrap: wrap;
    column-gap: 10px;
  }

  .time-member-place .time,
  .time-member-place .member,
  .time-member-place .place {
    margin-bottom: 10px;
  }

  .discounts .primary-btn {
    margin: 16px 0px;
    width: 55%;
    padding: 9px 0px;
    margin: 0 auto;
  }

  .second-packages .tour-to-scuba-diving {
    margin-left: 8px;
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  section {
    margin: 50px 0px;
  }

  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2.40rem;
  }

  h3 {
    font-size: 1.90rem;
  }

  h4 {
    font-size: 1.65rem;
  }

  h5 {
    font-size: 1.40rem;
  }

  h6 {
    font-size: 1.20rem;
  }

  p {
    font-size: 1rem;
  }

  .primary-btn {
    padding: 1rem;
    border-radius: 8px;
    border: none;
    outline: none;
    font-size: 1rem;
    text-align: center;
    font-weight: 600;
    line-height: 20px;
  }

  nav .navbar-brand {
    font-size: 1.5rem;
    font-weight: 500;
  }

  nav .navbar-brand img {
    width: 3rem;
    margin-right: 5px;
  }

  nav button {
    right: 12px;
  }

  nav button label.checkbtn {
    display: block;
  }

  nav ul {
    background: slategrey;
    position: fixed;
    padding: 30px 0px;
    width: 100vw;
    left: -100%;
    flex-direction: column;
    margin-top: 25px;
    row-gap: 20px;
    transition: 0.5s all;
  }

  #check:checked~nav ul {
    left: 0%;
  }

  .banner-info {
    padding: 12px;
  }

  .input-field form {
    row-gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .popular-tours .container {
    row-gap: 50px;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }

  .images-grides img {
    width: 100%;
    height: 300px;
  }

  .images-grides .row.first {
    row-gap: 10px;
    flex-direction: column;
  }

  .images-grides .row.first {
    margin-bottom: 10px;
  }

  .images-grides .row.second {
    grid-template-columns: 1fr;
    row-gap: 10px;
  }

  .images-grides .row.third {
    grid-template-columns: 1fr;
    row-gap: 10px;
    margin-bottom: 0;
  }

  .choose-service .two-div {
    flex-direction: column;
  }

  .choose-service .price {
    width: 100%;
  }

  .first-packages .tour-to-santorini,
  .second-packages .tour-to-scuba-diving,
  .third-packages .tour-to--the-lostatlantis {
    padding: 15px;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {

  section {
    margin: 50px 0px;
  }


  h1 {
    font-size: 2.9rem;
  }

  h2 {
    font-size: 2.40rem;
  }

  h3 {
    font-size: 1.90rem;
  }

  h4 {
    font-size: 1.65rem;
  }

  h5 {
    font-size: 1.40rem;
  }

  h6 {
    font-size: 1.15rem;
  }

  p {
    font-size: 1rem;
  }

  .primary-btn {
    padding: 1rem;
    border-radius: 8px;
    border: none;
    outline: none;
    font-size: 1rem;
    text-align: center;
    font-weight: 600;
    line-height: 20px;
  }

  .input-field form {
    row-gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .popular-tours .container {
    row-gap: 50px;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }

  .images-grides img {
    width: 100%;
    height: 250px;
  }

  .images-grides .row.first {
    column-gap: 10px;
  }

  .images-grides .row.first {
    margin-bottom: 10px;
    column-gap: 10px;
    display: flex;
    flex-direction: row;
  }

  .images-grides .row.second {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
    margin-bottom: 10px;
  }

  .images-grides .row.row.third {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  section {
    margin: 50px 0px;
  }

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2.45rem;
  }

  h3 {
    font-size: 1.95rem;
  }

  h4 {
    font-size: 1.70rem;
  }

  h5 {
    font-size: 1.45rem;
  }

  h6 {
    font-size: 1.20rem;
  }

  p {
    font-size: 1rem;
  }

  .primary-btn {
    padding: 1rem;
    border-radius: 8px;
    border: none;
    outline: none;
    font-size: 1rem;
    text-align: center;
    font-weight: 600;
    line-height: 20px;
  }

  .images-grides img {
    width: 100%;
    height: 250px;
  }

  .images-grides .row.first {
    column-gap: 10px;
  }

  .images-grides .row.first {
    margin-bottom: 10px;
    column-gap: 10px;
    justify-content: space-around;
  }

  .images-grides .row.second {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
    margin-bottom: 10px;
  }

  .images-grides .row.row.third {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1400px) {}